globalterrorismdb_0615dist.csv
globalterrorismdb_0615dist.xlsx
train.csv
test.csv
SFPD_Incidents_-_from_1_January_2003.csv
kaggle_data/
open_data_year_one/
sampleSubmission.csv
testResult.csv
sfcrime_submission.csv
testResult1.csv
